@import "variable";

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #313131;
    overflow-x: hidden;
    line-height: 1;
    background:url('../assets/images/loading.gif') no-repeat center 250px;
}

.mt5 {
    margin-top: $gap;
}

.mt10 {
    margin-top: $gap*2;
}

.color80 {
    color: #42b983;
}

.clear {
    zoom: 1;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.display-flex {
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Safari */
    display: -webkit-flex;
    /* Chrome, WebKit */
    display: flexbox;
    display: flex;
}

.flex1 {
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
}

.break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title {
    color: $title;
    font-size: $font-title;
    line-height: 1.5;
    @extend .text-overflow;
}

.display-flex {
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Safari */
    display: -webkit-flex;
    /* Chrome, WebKit */
    display: flexbox;
    display: flex;
}

.flex {
    display: block;
    width: 100%;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
}

.tag {
    padding: 5px 6px;
    font-size: $font-tag;
    font-weight: 400;
    border-radius: $radius;
    background-color: $colore7;
    text-align: center;
    vertical-align: middle;
}

.user-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #F3F3F3;
}


