$colore7:#e7e7e7;
$red:#ff5a5f;
$yellow:#feb501;
$color80:#80bd01;
$gap:5px;

$white : #ffffff;
$light : #d5dbdb;
$title : #2c3e50;

/* 基础布局 */
$padding : 15px;
$border: 1px solid $light;
$radius: 4px;

$font-title: 16px;
$font-content: 14px;
$font-info: 12px;
$font-tag: 10px;